/*.example-container {*/
/*  !*position: absolute;*!*/
/*  top: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  background: #eee;*/
/*}*/

mat-toolbar{
  height: 65px;
}
.main-container{
  position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
}
.spacer {
  flex: 1 1 auto;
}

mat-sidenav{
  display: flex;
  flex-direction: column;
  width: 10%;
}

a{
  text-align: left;
  width: 100%;
}

